<ul>
    <li>Photo: <%= image_tag profile.photo %></li>
    <li>
        Phone number: <%= profile.phone_number %>
    </li>
    <li>
        Gender: <%= profile.gender %>
    </li>
    <li>
        Birth date: <%= profile.birth_date %>
    </li>
    <li>
        Location: <%= profile.location %>
    </li>
</ul>