<div class="collapse show" id="collapseComments<%= post.id %>">
    <%= render "comments/form", post: post %>
    <div class="comments" id="<%= dom_id post %>_comments">
        <% post.comments.order(created_at: :desc).each do |comment| %>
            <%= turbo_frame_tag comment do %>
                <%= render comment %>
            <% end %>
        <% end %>
    </div>
</div>