<div class="border rounded w-100 d-flex bg-light mb-3">
    <% if post.likes.pluck(:user_id).include?(current_user.id) %>
        <%= render "likes/unlike_form", post: post %>
    <% else %>
        <%= render "likes/form", post: post %>
    <% end %>
    <button class="btn btn-light text-decoration-none text-dark fw-bold w-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments<%= post.id %>" aria-expanded="false" aria-controls="collapseComments<%= post.id %>">
        <%= image_tag("comment.png", size: "20x20") %>
        Comments
    </button>
</div>