<div id="<%= dom_id post %>">
    <p> <%= post.body %> </p>
    <%= link_to post.author.email, post.author, class: "text-muted mb-2" %>
    <p class="text-muted"> Created at: <%= post.created_at %> </p>
    <% if(post.created_at != post.updated_at) %>
        <p class="text-muted"> Edited at: <%= post.updated_at %> </p>
    <% end %>

    <% if post.likes.pluck(:user_id).include?(current_user.id) %>
        <%= form_with(model: [post, current_user.likes.find_by(post_id: post.id)], method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
            <%= form.submit 'Unlike' %>
        <% end %>
    <% else %>
        <%= render "likes/form", post: post %>
    <% end %>

    <h5>Likes: <%= post.likes.count %> </h5>
    <div id="likes">
        <% post.likes.order(created_at: :desc).each do |like| %>
            <%= render like %>
        <% end %>
    </div>

    <%= render "comments/form", post: post %>

    <h2>Comments: </h2>
    <div id="comments">
        <% post.comments.order(created_at: :desc).each do |comment| %>
            <%= render comment %>
        <% end %>
    </div>
</div>
