<div class="p-3 mt-4 mb-4 border rounded shadow" id="<%= dom_id post %>">
    <%= turbo_frame_tag "post-content" do %>
        <%= render "/posts/navbar", post: post %>

        <div class="pb-2 pt-2"> 
            <%= post.body %> 
        </div>
    <% end %>

    <%= turbo_frame_tag "likes" do %>
        <%= render "/posts/likes", post: post %>
        <%= render "/posts/menu", post: post %>
    <% end %>

    <%= render "/posts/comments", post: post %>
</div>
