<div id="<%= dom_id post %>">
    <p> <%= post.body %> </p>
    <p class="text-muted"> <%= post.author.email %> </p>
    <p class="text-muted"> Created at: <%= post.created_at %> </p>
    <% if(post.created_at != post.updated_at) %>
        <p class="text-muted"> Edited at: <%= post.updated_at %> </p>
    <% end %>
</div>
