<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>

  <% if current_user == @post.author %>
    <%= button_to "Edit this post", edit_post_path(@post), method: :get %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>

  <% if @post.likes.pluck(:user_id).include?(current_user.id) %>
    <%= form_with(model: [@post, current_user.likes.find_by(post_id: @post.id)], method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
      <%= form.submit 'Unlike' %>
    <% end %>
  <% else %>
    <%= render "likes/form", like: @like, post:@post %>
  <% end %>
</div>

<br>
<h2>Likes: <%= @post.likes.count %> </h2>
<% @post.likes.each do |like| %>
  <%= render like %>
<% end %>

<br>

<%= render "comments/form" %>

<h2>Comments: </h2>
<% @post.comments.order(created_at: :desc).each do |comment| %>
  <%= render comment %>
  <% if(current_user == @post.author || current_user == comment.author ) %>
    <%= form_with(model: [@post, comment], method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
      <%= form.submit 'Delete comment' %>
    <% end %>
  <% end %>
<% end %>