<!DOCTYPE html>
<html>
  <head>
    <title>OdinConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow-sm sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag("odin-connect.png", size: "40x40", class: "rounded") %>
            OdinConnect
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link"%>
              </li>

              <li class="nav-item">
                <%= link_to "Invite someone", new_invitation_path, class: "nav-link" %>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Invites sent
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if current_user.invites.empty? || current_user.invites.first.id == nil %>
                    <li class="dropdown-item">No invites sent</li>
                  <% else %>
                    <% current_user.invites.each do |invite| %>
                      <% next if invite.id == nil %>
                      <li class="dropdown-item d-flex align-items-center justify-content-between"> 
                        <%= link_to invite.invitee.email, invite.invitee %>
                        <%= button_to "Cancel", invitation_path(invite.id), method: :delete, class: "m-3 btn btn-danger" %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Invites received
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if current_user.invites_received.empty? %>
                    <li class="dropdown-item">No invites received</li>
                  <% else %>
                    <% current_user.invites_received.each do |invite| %>
                      <li class="dropdown-item d-flex align-items-center justify-content-between"> 
                        <%= link_to invite.inviter.email, invite.inviter %>
                        <%= button_to "Accept", friendships_path(friend_id: invite.inviter_id), method: :post, class: "m-3 btn btn-success" %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Friends list
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if current_user.friends.empty? %>
                    <li class="dropdown-item">No friends found</li>
                  <% else %>
                    <% current_user.friendships.each do |friendship| %>
                      <li class="dropdown-item d-flex align-items-center justify-content-between"> 
                        <%= link_to friendship.friend.email, friendship.friend %>
                        <%= button_to "Unfriend", friendship_path(friendship.id), method: :delete, class: "m-3 btn btn-danger" %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>

              <% unless current_user.profile %>
                <li class="nav-item">
                  <%= link_to "Create a profile", new_profile_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to current_user.email, current_user, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
    <div class="container p-2">
      <%= yield %>
    </div>
  </body>
</html>
