<!DOCTYPE html>
<html>
  <head>
    <title>OdinConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if signed_in? %>
      <h1> Welcome, <%= current_user.email %> </h1>
      <%= link_to "Sign out" , destroy_user_session_path %>
      |<%= link_to "Homepage", root_path %>
      |<%= link_to "Invite someone", new_invitation_path %>
      <%= render "users/invites_sent" %>
      <%= render "users/invites_received" %>
      <%= render "users/friends" %>
    <% end %>
    <%= yield %>
  </body>
</html>
